*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.box{
    border: 1px solid black;
    width: 200px;
    height: 200px;
}
.container{
    margin: 5vw;
    border: 1px solid black;
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    width: 1200px;
    .box_1{
        background-color: blue;
    }
    .box_2{
        background-color: black;
    }
    .box_3{
        background-color: red;
    }
    .box_4{
        background-color: green;
    }
}